openapi: 3.2.0
info:
  title: Manifest Cyber Products API
  description: The Manifest Cyber public REST API allows programmatic management of SBOMs, products, vulnerabilities, and AI/ML bills of materials for software supply-chain security. Authentication uses a Bearer API token generated from organization settings at app.manifestcyber.com.
  version: 1.0.0
  contact:
    name: Manifest Cyber
    url: https://api-docs.manifestcyber.com/
servers:
- url: https://api.manifestcyber.com/v1
  description: Production
security:
- BearerAuth: []
tags:
- name: Products
  description: Product hierarchy and metadata
paths:
  /products:
    get:
      tags:
      - Products
      summary: List products
      operationId: listProducts
      responses:
        '200':
          description: Products
    post:
      tags:
      - Products
      summary: Create a product
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Product
  /products/{productId}:
    get:
      tags:
      - Products
      summary: Get a product
      operationId: getProduct
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Product
    patch:
      tags:
      - Products
      summary: Update a product
      operationId: updateProduct
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API token from organization settings at app.manifestcyber.com. Send as `Authorization: Bearer <token>`.'
